<!-- barra de navegacion negra con btones a redes sociales-->

<nav class="navbar navbar-light bg-dark">
    <div class="col-auto logo">
        <img src="../../../assets/yoprogramologo.png" alt="" id="logo"> <!--class="logo"--> 
    </div>

    <div class="col">
        <span class="navbar-brand mb-0 h1" style="margin: 0px">
            <h3 style="color:white">Sergio Massazza</h3>
        </span>
    </div>

    <div class="btn-group" style="margin: 8px">

        <!-- redes sociales -->
        <a href="#" class="btn btn-primary mx-1 btn-sm"><img src="../../../assets/linkedin.jpg" width="25" height="25" alt=""></a>
        <a href="#" class="btn btn-primary mx-1 btn-sm "><img src="../../../assets/twiter.png" width="25" height="25" alt=""></a>
        <a href="#" class="btn btn-primary mx-1 btn-sm"><img src="../../../assets/facebook.png" width="25" height="25"alt=""  ></a>
        <!-- redes sociales -->

        <!--boton dropdown-->            
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            Login
            </button>
            <form class="dropdown-menu p-4">
            <div class="mb-3">
                <label for="DropdownFormName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="DropdownFormName" placeholder="Nombre">
            </div>
            <div class="mb-3">
                <label for="dropdownFormPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="dropdownFormPassword" placeholder="Password">
            </div>
            
            <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
        <!--boton dropdown-->
       
    </div>    
</nav>

<!-- imagen de fondo del header-->
<div id="divBaners">
    <img src="../../../assets/fondo-header.jpg" alt="" id="baner">
</div>

<!-- imagen de fondo del header-->